.header{
    width: 100wh;
    height: 47px;
    background: #EDEDED;
}
.img-header{
    width: 27px;
    padding-top: 10px;
}
.logout, .entrar{
    color: #4088CB;
    font-weight: bold;
    position:absolute;
    right: 35px;
    top: 9px;
}


  
