.header{
    width: 100wh;
    height: 47px;
    background: #EDEDED;
}
.img-header{
    width: 27px;
    padding-top: 10px;
}
.logout, .entrar{
    color: #2e6da4;
    position:absolute;
    right: 10px;
    top: 9px;
}


  
